<%= breadcrums @mail_template %>

<%= title t(:title, :mail_template => @mail_template.name) %>

<div class="actions">
  <%= link_to t(:new_deliver), new_project_mail_template_deliver_path(@mail_template.project, @mail_template) %>
</div>

<%= h @mail_template.body %>