<table>
  <tr>
    <th>Name</th>
  </tr>

<% groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group.path %></td>
    <td><%= link_to 'Edit', group.path(:edit) %></td>
    <td><%= link_to 'Destroy', group.path, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

