<table>
  <tr>
    <th>Name</th>
    <th>Project</th>
  </tr>

<% audience_lists.each do |audience_list| %>
  <tr>
    <td><%= link_to audience_list.name, [@project, audience_list] %></td>
    <td><%=h audience_list.project.name %></td>
    <td><%= link_to 'Edit', edit_project_audience_list_path(audience_list) %></td>
    <td><%= link_to 'Destroy', project_audience_lists_path(@project), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

